.container {
  display: flex;
  padding: 20px;
  margin-top: 35px;
}

.genresList {
  display: flex;
  margin: 0;
  padding: 0;
}

.info {
  margin-left: 20px;
}

.additional {
  padding: 20px;
}

.link {
  color: rgb(144, 63, 202);
}

.button {
  padding: 10px 16px;
  border-radius: 5px;
  background-color: rgb(205, 185, 220);
  color: white;
  font-size: 15px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
