.nav {
  display: flex;
  gap: 20px;
  background-color: rgb(124, 140, 116);
  padding: 20px;
  box-shadow: 0 0 20px rgb(75, 74, 71);
}

.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.active,
.link:hover {
  color: rgb(194, 217, 230);
}
